body,
html {
  font-family: Neue Montreal, sans-serif;

  /* 👇️ or use Operating system default fonts 👇️ */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}
progress::-moz-progress-bar { background: white; }
progress::-webkit-progress-value { background: white; }
progress { color: white; }